*{margin: 0px;
 padding: 0px;
}

body{font-size: 120%;
     background: #F8F8FF;
    }
 .header {
 	width: 88%;
 	color: white;
 	background: #5F9EA0;
 	margin: 10px 0px 20px 0px;  
 	text-align: center;
 	bottom: 1px solid #B0C4DE;
 	border-radius: 10px 10px 0px 0px;
 	padding: 20px;



 }

  form {
 	width: 30%;
 	margin: 20px 0px 0px 300px;
 	padding: 20px;
 	border: 1px solid #B0C4DE;
 	background: white;
 	border-radius: 0px 0px 10px 10px;

 }

 .input-group{
 	margin: 10px 0px 10px 0px; 
 }
 .input-group label{
 	display: block;
 	text-align: left;
 	margin: 3px;

 }
 .input-group input{
 	height: 30px;
 	width: 93%;
 	padding:5px 10px;
 	font-size: 16px;
 	border-radius: 5px;
 	border:1px solid gray;
 }
 .btn{
 	padding: 10px;
 	font-size: 15px;
 	color: white;
 	background: #5F9EA0;
 	border:none;
 	border-radius: 5px;
 }
 .new{
 	text-decoration: none;
 	text-align: center;
 }
 p{
 	text-align: center;
 }


